/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
  margin: 0;
  padding: 0;
}

h2, label{
  color:#d1f120
}
/* ==========================================================================
   Index page
   ========================================================================== */
.indexpage{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b3939;
}

.maincolor{
  display: flex;
  flex-direction: column;
}

.maincolor img{
  border-radius: 20px;
}
/*Neon button on hover*/
.neon{
  margin-top: 1em;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #d1f120;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.neon:hover{
  color: #0b3939;
  background-color: #d1f120;
  box-shadow: 0 0 10px #d1f120, 0 0 40px #d1f120, 0 0 80px #d1f120;
  transition-delay: 1s;
}

.neon span{
  position: absolute;
  display: block;
}

.neon span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#d1f120 );
}

.neon:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

.neon span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#d1f120 );
}

.neon:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#d1f120 );
}

.neon:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.neon span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,#d1f120 );
}

a.neon:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* ==========================================================================
   Homepage
   ========================================================================== */
   body{
     background-color: #0b3939;
   }

   .navba{
    background-color: #0b3939;
   }

   .buttonnav{
     color: #d1f120;
   }

   #navbarNavDropdown ul li a{
    color: #d1f120;
    background-color: #0b3939;
   }

   #navbarNavDropdown ul a{
     margin: none;
   }

   #home{
     margin-top: 5em;
   }

   #mainfont{
     color: #e5f780;
     justify-content: center;
     align-items: center;
     margin: 1em;
   }

   .footermain{
     color: #d1f120;
   }


   /* ==========================================================================
   Memory Page
   ========================================================================== */
   .container{
     /* display: flex; */
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 20%;
     /* background-image: url("../img/bgphone.jpg"); */
   }

   .vdorules{
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .vdorules iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /*game*/
  
  .gamedbz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #1abc9c;
    background-image: linear-gradient(to top left, #9b59b6, #1abc9c);
    font-family: arial;
    position: relative;
    text-align: center;
  }
  
  
  
  /* main SECTION */
  .main {
    /* background-image: url(../img/bg.jpg); */
    width: 100%;
    margin-bottom: 20%;
    /* height: 50%; */
  /*   box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4); */
    /* margin: auto; */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header {
    color: white;
    letter-spacing: 10px;
    font-size: 22px;
    /* padding: 10px 5px; */
  }
  
  .box {
    background-image: url(../img/cardback.jpg);
    background-size: 250%;
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 0 0 10px;
  }
  
  .play:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .header img{
    width: 70%;
  }

  img {
    width: 100%;
    height: 100%;
    /* display: block; */
    margin-top: none;
  }
  
  

  /* STATUS bar */
  #state {
    background: #1abc9c;
    background-image: linear-gradient(to top left, #9b59b6, #1abc9c);
    background-size: 250%;
    width: 30%;
    line-height: 25px;
    float: left;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    color: white;
    font-size: 16px;
  }
  
  #time {
    float: left;
  }
  
  #time::after {
    content: " sec";
  }
  
  #score {
    float: right;
  }
  
  #score::after {
    content: " points";
  }
  
  /* FOOTER */
  footer p {
    color: white;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  footer p a {
    color: #ddd;
    text-decoration: none;
  }
  
  footer p a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .hidden {
    display: none !important;
  }
  
  .show {
    display: block;
  }
  
  .outlined {
    outline: solid 2px #34495e;
    background: #9b59b6;
  }
  
  /* PRE modal window */
  #pre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 30px;
  }
  
  #themes {
    margin: auto;
    padding: 10px;
    width: 250px;
    background: #0b3939;
    color: #d1f120;
    border-radius: 30px;
  }
  
  #themes p {
    cursor: pointer;
  }
  
  /* POST modal window */
  #post {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 30px;
  }
  
  #post > div {
    width: 300px;
    padding: 20px 0 40px;
    background: #0b3939;
    color: #d1f120;
    border-radius: 30px;
  }
  
  #post p:first-child, 
  #post #final {
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    padding: 10px 20px;
  }
  
  #post #again:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    .main {
      width: 50%;
      margin-bottom: 20%;
    }

    .box {
      width: 100px;
      height: 100px;
    }

    #state {
      width: 290px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    header {
      font-size: 32px;
      padding: 10px;
    }

    .main {
      width: 100%;
    }
    .header img{
      width: 40%;
    }
  
    header h1 {
      font-weight: 200;
    }

    .main {
      width: 60%;
      height: 375px;
    }

    .box {
      width: 100px;
      height: 100px;
    }

    #state {
      width: 390px;
      line-height: 35px;
    }
  }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

